        <h2>Tags :</h2>
        <!-- cache('sidebarTag', 300) -->
        <!-- loop randomTags -->
        <span class="tag"><a href="{{rootUrl}}tag/{{randomTags' value.@name}}">{{randomTags' value.@name}}</a></span>
        <!-- endloop -->
        <!-- endcache -->

        <h2>Archives</h2>
        <ul>
          <!-- cache('sidebarArchive', 31536000) -->
          <!-- loop archives -->
              <!-- loop archives' value -->
                <li>
                    <!-- Or you can use longer form archives' And key  archives' value' key -->
                    <a href="{{rootUrl}}archive/{{l' k}}/{{l' v' k}}">
                        <span>{{month(archives' value' key)}}</span> {{archives' key}}
                    </a>
                    ({{archives' value' value}})
                </li>
              <!-- endloop -->
          <!-- endloop -->
          <!-- endcache -->
        </ul>

        <br/>
		<img src="{{rootUrl}}global/img/ads.png" alt="advertisement"/>