.boldy {
	color: #e7c118;
	font-weight: bold;
}
.file, .file a{
	color:#729fbe;
    text-decoration:none;
}
.file a:hover{
    text-decoration:underline;
}
body{
	margin:0px 0px 0px;
	color:#fff;
	background-color:#2e3436;
	font-size:190%;
	font-family: 'Courier New', Courier, monospace;
}

.totop a{
	font-size:60%;
	display:block;
    color: #fff;
	height:30px;
	line-height:30px;
    text-align:center;
    margin-right:60px;
    margin-bottom:60px;
}
.totop a:hover{
	color:#e7c118;
	text-decoration:none;
	background-color:#242424;
}

.normal{
    font-size:75%;
    margin-right:50px;
}

.nav{
float:left;clear:right;width:230px;display:block;
}
.nav li{
	list-style-type:none;
	text-align:right;
	font-size:60%;
	display:block;
	height:30px;
	line-height:30px;
}

.nav li a{
	display:block;
	padding-right:10px;
	color:#FFFFFF;
	text-decoration:none;
	background-color:#333333;
}
.nav li a:hover{
	color:#e7c118;
	text-decoration:none;
	background-color:#242424;
}

.header{
background-color:#222222;height:60px;line-height:60px;padding-left:10px;
}

.top, .top a{
background-color:#151515;height:20px;padding-left:10px;text-align:right;color:#00FF99;font-size:12px;text-decoration:none;padding-right:5px;
}
.top a:hover{
    color: yellow;
}

.content{
float:right;text-align:left;width:75%;display:block;
}

.content em{
    font-size:60%;
}

h1{
font-size:120%;
}
p{
    padding-top:10px;
}
pre{
	font-size:50%;
	width:auto;
    margin-right:60px;
	background-color:#121212;
	padding:10px 15px 10px;
	border:1px solid #555;
}

pre a{
    color:yellow;
    font-weight:bold;
    text-decoration:none;
}
pre a:hover{
    color:#729fbe;
    font-weight:bold;
    text-decoration:none;
}
